@import url("./font/font.css");

:root {
  --black: #171717;
  --margin: 40px;
  --gap: 20px;
  --white: #e6dfcf;
  
}

body{
  background-color: var(--white);
}
* {
  transition: 0.3s;
  font-family: "Proxima Nova Rg";
  padding: 0;
  margin: 0;
  color: var(--black)
}

h1{
  font-weight: 100;
  font-size: 70px;
  text-transform: uppercase;
}

p, li, strong{
  font-size: 18px;
  line-height: 25px;
}



