@import url("./font/font.css");

:root {
  --black: #36312f;
  --margin: 40px;
  --gap: 20px;
}

* {
  transition: 0.3s;
  font-family: "Proxima Nova Rg";
  padding: 0;
  margin: 0;
}

h1{
  font-weight: 100;
  font-size: 70px;
  text-transform: uppercase;
}

p, li, strong{
  font-size: 18px;
  line-height: 25px;
}



